handson-ml2/*
datasets/machine_learning_a-z/*
datasets/machine_learning_a-z/**
datasets/deep_learning_a-z/*
datasets/deep_learning_a-z/**
datasets/nano_dl/*
datasets/nano_dl/**
datasets/
datasets/*
datasets/**
example_work/*
example_work/**
sql/datasets/*
sql/datasets/**
sql/datasets/
datasets/Practical-Deep-Learning-Book
datasets/Practical-Deep-Learning-Book
*.jpg
*.h5
"deep learning/nano-dl/aind2-cnn/*"
